:root {
    --dark: rgb(37, 11, 91);
    --navy: rgba(51, 71, 90, 0.8);
    --blue: rgb(59, 110, 196);
    --light-blue: rgb(90, 162, 233);
    --gray: rgb(183, 183, 183);
  }
  
  /*                  BEGIN                             */
  /*              CUSTOM STYLES                         */
  
  header {
    background-color: darkblue;
    background-image: linear-gradient(to right, var(--blue), var(--dark));
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  #dashboard {
    background-color: rgba(51, 71, 90, 0.3);
  }
  
  .btn-primary {
    background-color: var(--light-blue);
  }
  
  .btn-light {
    background-color: var(--gray);
    color: rgba(0, 0, 0, 0.8);
  }
  
  .btn-light:hover,
  .btn-light:focus {
    background-color: var(--gray);
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
  }
  
  .card {
    color: white;
    background-color: var(--navy);
  }
  
  .card img {
    width: 50px;
    height: auto;
  }